.Reports-Main{
  padding-top: 20px;
}
/* Status Colors */
  .status-valide {
    color: rgb(0, 97, 0) !important;
    font-weight: 600 !important;  
  }
  
  .status-actif {
    color: #f01010 !important;
    font-weight: 600 !important;
  }
  
  .status-inactif {
    color: #e3a5a5 !important;
    font-weight: 600 !important;
  } 
  .viewDetails {
    background-color: #ffffff;
    border: 1.2px solid #5C73DB !important;
    color: #5C73DB;
    margin-right: 20px;
    font-weight: 600;
    padding: 7px 16px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 12px;
  }
  
  .viewDetails:hover{
    color: #fff;
    background-color: #5C73DB;
  }
  
  .delete {
    background-color: #DC2626;
    color: white;
    font-weight: 600;
    padding: 7px 16px !important;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 12px;
  }
  
  .delete:hover {
    background-color: #b40b0b;
    color: white;
  }

  