/* Search Bar */
.search-bar input {
    width: 90%;
    padding: 10px;
    border: 1.5px solid #ddd;
    border-radius: 9px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-top: 20px;
  }
.search-bar input:focus{
    outline: none;
    border-color: #5C73DB;
  }
  
  /* Table */
  .table-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid rgb(209, 207, 207);
  }
  
  
  th {
    background-color: #fff;
  }
  
  /* Status Colors */
  .status-valide {
    color: rgb(0, 97, 0);
    font-weight: 600;
    
    
  }
  
  .status-actif {
    color: #f01010;
    font-weight: 600;
  }
  
  .status-inactif {
    color: #e3a5a5;
    font-weight: 600;
  }
  
  /* Action Buttons */
  button {
    padding: 7px 16px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 12px;
  }
  
  .suspend {
    background-color: #ffffff;
    border: 1.2px solid #5C73DB;
    color: #5C73DB;
    margin-right: 20px;
    font-weight: 600;
  }
  .suspend:hover{
    color: #fff;
    background-color: #5C73DB;
  }
  
  .delete {
    background-color: #DC2626;
    color: white;
    font-weight: 600;
  }
  .delete:hover {
    background-color: #b40b0b;
  }
 
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 160px;
 
}
.modal h3 , .modal p {
  text-align: center;
  padding-bottom: 5px;
  
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.confirm {
  background: rgb(183, 12, 12);
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cancel {
  background: rgb(4, 67, 195);
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.confirm:hover {
  background: rgb(118, 1, 1);
}

.cancel:hover {
  background: rgb(1, 19, 139);
}

  