@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-x: auto; 
  min-width: 800px;
}

.sidebar {
  background: #234CC1;
  height: 100vh;
  width: 250px;
  display: flex;
  align-items: flex-start;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
}

.sidebar .ps-sidebar-container {
  background: #234CC1;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: -3px;
  height: 50px;
  width: 250px;
  
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-top: 15px;
}

.fixSpot {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  line-height: 40px;
  

}

.submenu.active, .menu-item.active {
  background-color: #1976d2;
  color: #c6ddf4;
}
.sidebar-header {
  padding-bottom: 10px;
  
}

.submenu, .menu-item {
  cursor: pointer;
  color: white;
  background-color: #234CC1;
  font-size: 20px;
}

.submenu-title {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 10px;
}

.custom-submenu .ps-menu-button svg {
  fill: #ffffff;
  stroke: #ffffff;
}

.custom-submenu .ps-menu-button span {
  color: #ffffff;
}
.menu-item:hover {
  background-color: blue !important;
  color: #d02525 !important; /* Or whatever your default text color is */
}

/* Optional: prevent icon/text color changes inside */
.menu-item:hover .ps-menu-icon,
.menu-item:hover .ps-menu-label {
  color: rgb(38, 0, 255) !important;
  
}

